html, body {
    font-family: 'Slabo 27px', serif;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 750px;
    margin: 0;
}

.tint {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.transition .tint {
    transition: background 600s;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1,67,239,1);
    z-index: 0;
    -webkit-perspective: 600px;
    perspective: 600px;
}
.transition .sky {
    transition: background 600s;
}

.clouds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(-82deg) scale(1.1);
    transform: rotateX(-82deg) scale(1.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    z-index: 2;
}

.clouds {
    z-index: 5;
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    height: 800px;
    background: url("../images/clouds.png") repeat-x;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; 
    -webkit-animation: cloud-scroll 120s 0.1s linear infinite;
    -webkit-animation-fill-mode: both;
    animation: cloud-scroll 120s 0.1s linear infinite;
	-webkit-transform: translateY(-740px);
    transform: translateY(-740px);
}
.clouds2 {
    z-index: 3;
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    height: 800px;
    background: url("../images/clouds.png") repeat-x;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; 
    -webkit-animation: cloud-scroll2 120s 0.1s linear infinite;
    -webkit-animation-fill-mode: both;
    animation: cloud-scroll2 120s 0.1s linear infinite;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.clouds3 {
    z-index: 1;
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    height: 800px;
    background: url("../images/clouds.png") repeat-x;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; 
    -webkit-animation: cloud-scroll3 120s 0.1s linear infinite;
    -webkit-animation-fill-mode: both;
    animation: cloud-scroll3 120s 0.1s linear infinite;
    -webkit-transform: translateY(740px);
    transform: translateY(740px);
}

@keyframes cloud-scroll {
	0% {
		transform: translateY(-740px);
	}
    15.3% {
        transform: translateY(-1080px);
    }
    15.31% {
        transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    15.32% {
        transform: translateY(1140px) translateX(8000px);
    }
    15.33% {
        transform: translateY(1140px);
    }
    /* 48.6% {
        transform: translateY(514px);
        z-index: 3;
    } */
    /* 81.9% {
        transform: translateY(-340px);
        z-index: 5;
    } */
    100% { 
        transform: translateY(-740px);
	}
}
@keyframes cloud-scroll2 {
	0% {
		transform: translateY(0px);
	}
    /* 15.3% {
        transform: translateY(-340px);
        z-index: 5;
    } */
    48.6% {
        transform: translateY(-1080px);
    }
    48.61% {
        transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    48.62% {
        transform: translateY(1140px) translateX(8000px);
    }
    48.63% {
        transform: translateY(1140px);
    }
   /*  81.9% {
        transform: translateY(514px);
        z-index: 3;
    } */
    100% { 
        transform: translateY(0px);
	}
}
@keyframes cloud-scroll3 {
	0% {
		transform: translateY(740px);
	}
   /*  15.3% {
        transform: translateY(400px);
        z-index: 3;
    }
    48.6% {
        transform: translateY(-340px);
        z-index: 5;
    } */
    81.9% {
        transform: translateY(-1080px);
    }
    81.91% {
        transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    81.92% {
        transform: translateY(1140px) translateX(8000px);
    }
    81.93% {
        transform: translateY(1140px);
    }
    100% { 
        transform: translateY(740px);
	}
}
/*-1080 through +1140*/
@-webkit-keyframes cloud-scroll {
	0% {
		-webkit-transform: translateY(-740px);
	}
    15.3% {
        -webkit-transform: translateY(-1080px);
    }
    15.31% {
        -webkit-transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    15.32% {
        -webkit-transform: translateY(1140px) translateX(8000px);
    }
    15.33% {
        -webkit-transform: translateY(1140px);
    }
    /* 48.6% {
        -webkit-transform: translateY(514px);
        z-index: 3;
    } */
    /* 81.9% {
        -webkit-transform: translateY(-340px);
        z-index: 5;
    } */
    100% { 
        -webkit-transform: translateY(-740px);
	}
}
@-webkit-keyframes cloud-scroll2 {
	0% {
		-webkit-transform: translateY(0px);
	}
    /* 15.3% {
        -webkit-transform: translateY(-340px);
        z-index: 5;
    } */
    48.6% {
        -webkit-transform: translateY(-1080px);
    }
    48.61% {
        -webkit-transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    48.62% {
        -webkit-transform: translateY(1140px) translateX(8000px);
    }
    48.63% {
        -webkit-transform: translateY(1140px);
    }
   /*  81.9% {
        -webkit-transform: translateY(514px);
        z-index: 3;
    } */
    100% { 
        -webkit-transform: translateY(0px);
	}
}
@-webkit-keyframes cloud-scroll3 {
	0% {
		-webkit-transform: translateY(740px);
	}
   /*  15.3% {
        -webkit-transform: translateY(400px);
        z-index: 3;
    }
    48.6% {
        -webkit-transform: translateY(-340px);
        z-index: 5;
    } */
    81.9% {
        -webkit-transform: translateY(-1080px);
    }
    81.91% {
        -webkit-transform: translateY(-1080px) translateX(8000px);
        z-index: 1;
    }
    81.92% {
        -webkit-transform: translateY(1140px) translateX(8000px);
    }
    81.93% {
        -webkit-transform: translateY(1140px);
    }
    100% { 
        -webkit-transform: translateY(740px);
	}
}

.ground-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    z-index: 100;
}

.floor-perspective {
    position: absolute;
    z-index: 101;
    bottom : 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.floor-container {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    -webkit-transform: rotateX(78deg);
    -webkit-transform-origin: 50% 100%;
    transform: rotateX(78deg);
    transform-origin: 50% 100%;
}

.floor {
/*    margin: 0 auto;
    width: 800px;
    height: 140%;*/
    width: 100%;
    height: 200%;
    background: url("../images/grass/circles.png") repeat;
    background-size: 2000px 2000px;
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 200%;
    height: 500%;
}

.ground-horizon {
    z-index: 200;
    position: absolute;
    left: -10%;
    top: 0;
    width: 120%;
    height: 100%;
    box-shadow: inset 0px 5px 6px rgb(57,163,239),inset 0px 10px 30px rgb(57,163,239);
}

.sky-horizon {
    z-index: 200;
    position: absolute;
    left: -500px;
    top: 0px;
    width: 300%;
    height: 200%;
    box-shadow: 0 0 10em 100px rgba(57,163,239,1);
}
.transition .sky-horizon, .transition .ground-horizon {
    transition: box-shadow 600s;
}

.trees>div>.left {
    position: absolute;
    right: 50%;
}

.trees>div>.right {
    position: absolute;
    left: 50%;
}

.tree {
    transform-origin: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 310px;
    text-align: center;
}

.tree .tree-img {
    max-height: 380px;
    max-width: 100%;
}

.fruit {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
}

.fruit.apple {
    background: url("../images/fruits/apple.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fruit.orange {
    background: url("../images/fruits/orange.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transform: scale(0.93) translateY(1px);
    transform: scale(0.93) translateY(1px);
}

.fruit.pear {
    background: url("../images/fruits/pear.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fruit.cherries {
    background: url("../images/fruits/cherries.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transform: scale(0.95) translateX(-1px);
    transform: scale(0.95) translateX(-1px);
}

.fruit.peach {
    background: url("../images/fruits/peach.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transform: scale(0.95) translate(-2px,2px);
    transform: scale(0.95) translate(-2px,2px);
}

.fruit.left {
    left: 48px;
    top: 112px;
}

.fruit.right {
    right: 48px;
    top: 112px;
}

.fruit.top {
    width: 63px;
    height: 63px;
    left: 123px;
    top: 22px;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.row1 {
    position: absolute;
    bottom: 15%;
    width: 100%;
    z-index: 350;
}
.row1 .tree {
    transform: scale(1.9);
}

.row2 {
    position: absolute;
    bottom: 50%;
    width: 100%;
    z-index: 340;
}
.row2 .tree {
    transform: scale(1.26);
}

.row3 {
    position: absolute;
    bottom: 70%;
    width: 100%;
    z-index: 330;
    -webkit-filter: blur(0.75px);
    filter: blur(0.75px);
}
.row3 .tree {
    transform: scale(0.87);
}

.row4 {
    position: absolute;
    bottom: 85%;
    width: 100%;
    z-index: 320;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}
.row4 .tree {
    transform: scale(0.58);
}

.row5 {
    position: absolute;
    bottom: 93.5%;
    width: 100%;
    z-index: 310;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}
.row5 .tree {
    transform: scale(0.38);
    opacity: 0.8;
}

.video-screen-container {
	position: absolute;
	z-index: 9998;
	bottom: 8%;
    left: 50%;
	width: 580px;
    height: 560px;
    margin-left: -290px;
	text-align: center;
    pointer-events: none;
}

.video-screen-container.copy {
	z-index: 10000;
}

.video-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10003;
    pointer-events: none;
}

.video-static {
    position: absolute;
    top: 54px;
    left: 130px;
    width: 320px;
    height: 180px;
    z-index: 10001;
}

.video-iframe {
    position: absolute;
    top: 54px;
    left: 130px;
    z-index: 10002;
    pointer-events: auto;
}

.video-screen-shadow {
    position: absolute;
    top: 54px;
    left: 130px;
    width: 320px;
    height: 180px;
    z-index: 10003;
}

.video-buttons {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 263px;
    z-index: 10004;
}

.video-buttons-panel {
    position: absolute;
    width: 133px;
    height: 35px;
    background-image: url("../images/buttons/button-panel.png");
    pointer-events: auto;
}

.copy .video-buttons-panel {
    background-image: none;
}

.video-buttons-panel.left {
    left: 151px;
}

.video-buttons-panel.right {
    right: 151px;
}

.circle-button {
    position: absolute;
    width: 37px;
    height: 38px;
    cursor: pointer;
    overflow: hidden;
}

.circle-button.on, .playback-button.on {
    background-position: 0px 38px;
}

.circle-button.ac {
    background-image: url("../images/buttons/button-ac.png");
    left: 2px;
    top: -2px;
}
.circle-button.ww {
    background-image: url("../images/buttons/button-ww.png");
    left: 33px;
    top: -2px;
}
.circle-button.cf {
    background-image: url("../images/buttons/button-cf.png");
    left: 64px;
    top: -2px;
}
.circle-button.nl {
    background-image: url("../images/buttons/button-nl.png");
    left: 95px;
    top: -2px;
}
.circle-button.shopping {
    background-image: url("../images/buttons/button-shopping.png");
    left: 2px;
    top: -2px;
}

.playback-button {
    position: absolute;
    width: 68px;
    height: 38px;
    cursor: pointer;
    overflow: hidden;
}

.playback-button.play {
    background-image: url("../images/buttons/button-play.png");
    left: 2px;
    top: -2px;
}
.playback-button.pause {
    background-image: url("../images/buttons/button-pause.png");
    left: 64px;
    top: -2px;
}


/* ------------- Time of day stuff ------------- */

.night .tint {
    background: rgba(15, 32, 80, 0.3);
}

.night .sky {
    background: rgb(34, 53, 105);
}

.night .floor {
    /* background: url("../images/grass/circle/summer-dark.gif") repeat;
    background-size: 24px 24px; */
}

.night .sky-horizon {
    box-shadow: 0 0 10em 100px rgb(13, 51, 101);
}

.night .ground-horizon {
    box-shadow: inset 0px 5px 6px rgb(13, 51, 101),inset 0px 10px 30px rgb(13, 51, 101);
}


.dawn1 .tint {
    background: rgba(0, 63, 210, 0.15);
}

.dawn1 .sky {
    background: rgb(10, 52, 167);
}

.dawn1 .floor {
    /* background: url("../images/grass/circle/summer-dark.gif") repeat;
    background-size: 24px 24px; */
}

.dawn1 .sky-horizon {
    box-shadow: 0 0 10em 100px rgb(0, 96, 222);
}

.dawn1 .ground-horizon {
    box-shadow: inset 0px 5px 6px rgb(0, 96, 222),inset 0px 10px 30px rgb(0, 96, 222);
}


.dawn2 .tint {
    background: rgba(232, 162, 0, 0.06);
}

.dawn2 .sky {
    background: rgb(112, 173, 236);
}

.dawn2 .floor {
    /* background: url("../images/grass/circle/summer-dark.gif") repeat;
    background-size: 24px 24px; */
}

.dawn2 .sky-horizon {
    box-shadow: 0px 0px 5px 6px #C2A54C, 0 0 14em 100px rgba(232,162,0,0.7);
}

.dawn2 .ground-horizon {
    box-shadow: inset 0px 5px 6px #C2A54C,inset 0px 10px 30px #C2A54C;
}


.dusk1 .tint {
    background: rgba(179, 51, 0, 0.1);
}

.dusk1 .sky {
    background: rgb(69, 153, 243);
}

.dusk1 .floor {
    /* background: url("../images/grass/circle/summer-dark.gif") repeat;
    background-size: 24px 24px; */
}

.dusk1 .sky-horizon {
    box-shadow: 0px 0px 5px 6px #B68154, 0 0 14em 100px rgba(232, 119, 0, 0.7);
}

.dusk1 .ground-horizon {
    box-shadow: inset 0px 5px 6px #B68154,inset 0px 10px 30px #B68154;
}


.dusk2 .tint {
    background: rgba(136, 51, 32, 0.2);
}

.dusk2 .sky {
    background: rgb(102, 125, 243);
}

.dusk2 .floor {
    /* background: url("../images/grass/circle/summer-dark.gif") repeat;
    background-size: 24px 24px; */
}

.dusk2 .sky-horizon {
    box-shadow: 0px 0px 5px 6px #C4776E, 0 0 14em 100px rgba(255, 111, 41, 0.7);
}

.dusk2 .ground-horizon {
    box-shadow: inset 0px 5px 6px #C2736B,inset 0px 10px 30px #C2736B;
}


.postal-input {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    display: none;
}
.postal-input.show {
    display: block;
}


